<section class="section">
    <div class="container">
        <h1 class="title has-text-light">Chat en tiempo real</h1>
        <a class="button is-link" asp-action="Sala">Entrar a la sala</a>
    </div>
</section>