@{
    ViewData["Title"] = "Generar Reporte PDF";
}

<section class="section">
    <div class="container">
        <h1 class="title has-text-light">Generando Reporte PDF...</h1>

        <div class="notification is-info">
            El reporte de ventas se está generando y se descargará automáticamente.
        </div>

        <a class="button is-link" href="/Reportes/Index">Volver a la lista de ventas</a>
    </div>
</section>